<div class="card">
  <div class="card flex justify-content-end">
    <p-button
      icon="pi pi-user-plus"
      iconPos="right"
      size="small"
      severity="info"
      (onClick)="openDialog()"
    />
    <add-dialog-employee (initEmployeeComponet)="onDialogEvent()" />
  </div>
  <!-- table -->
  @if(accounts && accounts.length >0){
  <p-table [value]="accounts" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>FullName</th>
        <th>IMAGE</th>
        <th>DOB</th>
        <th>ROLE</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-accounts>
      <tr>
        <td>
          {{ accounts.id }}
        </td>
        <td>
          {{ accounts.username }}
        </td>
        <td>
          {{ accounts.fullName }}
        </td>
        <td>
          <img
            src="assets/images/account/{{ accounts.photo }}"
            width="40"
            height="40"
          />
        </td>
        <td>
          {{ accounts.dob }}
        </td>
        <td>
          @for(role of accounts.roles;track role){
          <p-tag
            [value]="role.name.toUpperCase()"
            [severity]="getSeverity(role.name)"
          />
          }
        </td>
      </tr>
    </ng-template>
  </p-table>
  }
  <!-- table -->
</div>
