<div class="layout-topbar flex col-12 justify-content-between">
  <div class="topbar-left">
    <app-topbar />
  </div>
  <div class="topbar-right">
    <div class="btnLogout" (click)="Logout($event)">
      <i class="pi pi-sign-out" style="font-size: 1.4rem"></i>
    </div>
  </div>
</div>

<div class="layout-main-container flex flex-row justify-content-center">
  <div class="main">
    <div class="layout-wrapper">
      <router-outlet> </router-outlet>
    </div>
  </div>
  <div class="layout-sidebar">
    <app-sidebar />
  </div>
</div>

<div class="layout-footer">
  <app-footer />
</div>
<p-confirmPopup />
